# Autotools build artifacts
Makefile.in
aclocal.m4
autom4te.cache/
configure
config.log
config.status
config.h
cfg/compile
cfg/config.guess
cfg/config.h.in
cfg/config.sub
cfg/depcomp
cfg/install-sh
cfg/ltmain.sh
cfg/missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Build output
*.o
*.lo
*.la
*.a
.libs/
.deps/
Makefile
